.login-container {
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100%;
    width: 100%;

}

.card{
    width: 50%;
}

.submit-button-content{
    display: flex;
}