<div class="login-container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">KanBan For Daily Life: Sign In</h5>
            <form #formData="ngForm" (ngSubmit)="onSubmit(formData)">

                <div class="text-danger" [class.d-none]="!formIsInvalidAfterSubmit">Error: Login informations are not valid</div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" id="email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" ngModel
                        aria-describedby="emailHelp" placeholder="Enter email" required>
                    <small class="text-danger" [class.d-none]="email.valid || email.untouched">invalid email</small>


                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" #password="ngModel" name="password" id="password"
                        ngModel placeholder="Password" required>
                    <small class="text-danger" [class.d-none]="password.valid || password.untouched">password
                        required</small>

                </div>
                <div>
                    <a [routerLink]="['/auth/register']">create an account</a>
                </div>
                <button  type="submit" class="btn btn-primary">Log in</button>
            </form>
        </div>
    </div>
</div>