<div *ngIf="isLoading">
  <div class="dashboard_header">
    <div class="title_header">
      <h2>Kanban dashboard</h2>
      <div class="board_status">
        <p>Last update</p>
        <div class="dot_separator"></div>
        <p>Date</p>
      </div>
    </div>
  
    <div class="header_menu">
      <mat-icon>more_vert</mat-icon>
    </div>
  </div>
  
  <div class="spacer"></div>
  
  <div class="dashboard_components" cdkDropListGroup>
    <app-kanban-column [columnName]="'Todo'" [ticketsData]="ticketsData.todoStatus"></app-kanban-column>
    <app-kanban-column [columnName]="'In Progress'" [ticketsData]="ticketsData.inProgressStatus"></app-kanban-column>
  </div>
</div>
