@import '../../../../../color--shade.scss';

:host {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.column_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $emptyShade;
  padding: 10px;
  border-radius: 5px;
  border: solid 1px $lightLineShade;
  font-weight: 800;
}

.add_item_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $lightBlue;
  border: none;
  color: $darkBlue;
  padding: 10px;
  text-decoration: none;
  font-size: 12px;
  border-radius: 5px;
}

.drop_list {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.personnalised_scrollbar {
  scrollbar-width: thin;
}

.drop_item {
  width: 100%;
}