<div class="drop_list personnalised_scrollbar column_header">
  <div class="column_name">
    <input #titleInput
      [class.form-control]="column.isTitleEditable"
      [class.readonly-input-card]="!column.isTitleEditable"
      [readonly]="!column.isTitleEditable" [value]="column.title | uppercase"
      (click)="changeTitleState(true,column._id)" 
      (focusout)="changeTitleState(false,column._id)"
      (change)="updateTitle(column._id,titleInput.value)"

      />
    <mat-icon [class.d-none]="column.isTitleEditable">edit</mat-icon>
  </div>
  <app-edit-ticket-modal [columnId]="column._id"></app-edit-ticket-modal>
</div>

<div class="drop_list personnalised_scrollbar" cdkDropList [cdkDropListData]="column.ticketList"
  (cdkDropListDropped)="onDrop($event)">
  <div class="drop_item" cdkDrag *ngFor="let ticket of column.ticketList">
    <app-ticket [ticketData]="ticket"></app-ticket>
  </div>
</div>