<div class="dashboard-container">
    <h2>Dashboards</h2>

    <div class="dashboard-content-container row" >
        <div class="dashboard-content-item col-5" *ngFor="let dashboard of dashboardsData">
            <div class="card" >
                <div class="card-body">
                    <h5 class="card-title">{{dashboard.title}}</h5>
                    <p class="card-text">{{dashboard.description}}</p>
                    <a href="#" (click)="onDashboardSelection(dashboard._id)" [routerLink]="['/home/dashboard/',dashboard._id]" class="btn btn-primary">Go to the dashboard</a>
                </div>
            </div>
        </div>

    </div>
</div>