<div class="faq-page-container">
    <h2>FAQ</h2>

    <h3 >
        Question 1 
    </h3>
    <div >
        Réponse 1: Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui aliquid modi sit reprehenderit a minima ratione, necessitatibus, labore nisi soluta quod illo suscipit eius nobis neque ad dicta rem assumenda eveniet tempore beatae voluptate tempora unde magnam? Quasi nisi nesciunt hic consectetur dignissimos suscipit labore. Laudantium, explicabo omnis. Voluptatibus quis repellendus sequi nobis, nisi inventore iure hic aspernatur. Vel, assumenda eveniet minima consequuntur magnam rem quas nemo corporis obcaecati tempora, deleniti nostrum. Harum ex exercitationem unde incidunt laudantium beatae quibusdam iure veritatis. Ut neque repudiandae nam maiores sunt soluta et?
    </div>
    <h3 >
        Question 1 
    </h3>
    <div >
        Réponse 1: Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui aliquid modi sit reprehenderit a minima ratione, necessitatibus, labore nisi soluta quod illo suscipit eius nobis neque ad dicta rem assumenda eveniet tempore beatae voluptate tempora unde magnam? Quasi nisi nesciunt hic consectetur dignissimos suscipit labore. Laudantium, explicabo omnis. Voluptatibus quis repellendus sequi nobis, nisi inventore iure hic aspernatur. Vel, assumenda eveniet minima consequuntur magnam rem quas nemo corporis obcaecati tempora, deleniti nostrum. Harum ex exercitationem unde incidunt laudantium beatae quibusdam iure veritatis. Ut neque repudiandae nam maiores sunt soluta et?
    </div>
</div>
