@import '../../../../../color--shade.scss';

:host {
  background-color: white;
  display: inline-block;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid $lightLineShade;
  height: auto;
  box-shadow: 2px 3px 3px 0px rgba(119, 119, 119, 0.3);
  -moz-box-shadow: 2px 3px 3px 0px rgba(119, 119, 119, 0.3);
  -webkit-box-shadow: 2px 3px 3px 0px rgba(119, 119, 119, 0.3);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticket_status {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  word-break: break-all;
}

.ticket_number {
  display: flex;
  justify-content: end;
  align-items: center;
}