.notification_icon {
    cursor: pointer;
    margin: 0 20px;
  }
  
  .notification_icon > mat-icon:active {
    color: black;
  }
  
  .notification_icon > mat-icon:after {
    display:none;
  }
  
  .notification-title{
    font-size: 20px;
    font-weight: 600;
    padding-left: 24px;
  }
  
  .notification-item{
    display: flex;
    margin-bottom: 15px;
  }
  
  .notification-item:active{
    background-color: lightgray;
    color: inherit;
  }
  
  .notification-text{
    margin-right: 10px;
  }
  
  .notification-text>div:first-child{
    font-weight: 500;
  }
  
  .notification-action > mat-icon{
    display: block;
  }
  
  .notification-action > mat-icon:hover{
    background-color: lightgray;
  }
  
  .mat-divider {
    border-width: 1px;
    border-style: solid ;
    color: black;
  
    margin: 0 10px
    
  
  }