<div ngbDropdown class="notification_icon" [autoClose]="false">
    <mat-icon ngbDropdownToggle>notifications_active</mat-icon>
    <div ngbDropdownMenu>
        <div>

           
            <div class="notification-title">Notifications</div>
            <div *ngIf="!notificationsInfos.length">
                <div>Pas de notification</div>
            </div>
            <div  class="notification-item" *ngFor="let notif of notificationsInfos">
                <div ngbDropdownItem  class="notification-item-container"  [class.read-status-notification]="notif.status === 'Read'">
                    <div class="notification-text">
                        <div>
                            {{notif.title}}
                        </div>
                        <div>
                            {{notif.description}}
                        </div>
                    </div>
                    <mat-divider></mat-divider>

                    <div class="notification-action">

                        <mat-icon (click)="deleteNotification(notif)">close</mat-icon>
                        <mat-icon (click)="readNotification(notif)">visibility</mat-icon>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>