<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create ticket</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Title</label>
        <input [(ngModel)]="editTicketForm.title" name="title" multiple class="form-control" required id="title" placeholder="Title">
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea [(ngModel)]="editTicketForm.description" name='descirption' class="form-control" rows="3"></textarea>
      </div>
      
      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
      </div>
    </form>
  </div>

</ng-template>

<button type="button" class="add_item_btn" data-toggle="modal" (click)="openModal(content)">
  <mat-icon>add</mat-icon>
</button>