<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Manage Ticket</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <form >
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" aria-describedby="title" placeholder="Title" >
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Description</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" ></textarea>
        </div>
      </form>
    </div>

  
  </ng-template>
  
  <button type="button" class="btn " data-toggle="modal" (click)="openModal(content)" >
    <mat-icon>more_hori</mat-icon>
  </button>