
<div class='logo_container'>
  <img class="logo" src='../../../assets/logo_kfdl.svg'>
</div>

<div class='items'>
  <a class="menuItem" [routerLink]="['/home/dashboards']">
    <mat-icon class='icon'>dashboard</mat-icon>
    <span class="menuTitle">Dashboard</span>
  </a>
  <a class="menuItem" [routerLink]="['/home']">
    <mat-icon class='icon'>settings</mat-icon>
    <span class="menuTitle">Settings</span>
  </a>
</div>

<div class="footer">
  <mat-icon [routerLink]="['/home/help']">help_outline</mat-icon>
  <p class="item-to-navigate" [routerLink]="['/home/faq']" >FAQ</p>
</div>