
$primary: #1d62cb;
$accent: #ec8b3c;
$background: #f8fafc;
$accentLight: #fdf2e9;
$darkBlue: #144ea5;
$lightBlue: #edf2fb;

$fullShade: #232f4c;
$darkShade: #8b96a5;
$mediumShade: #a2abbd;
$lightShade: #ced4df;
$emptyShade: #ffffff;

$lightLineShade: #efefef;